@import "src/styles";

header {
  width: 100%;
  height: 80px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

  .utility {
    img {
      width: 25px;
      height: 25px;
      margin-right: 10px;
      cursor: pointer;
      outline: none;
    }

    .search {
      margin: auto 20px auto;

      input {
        width: 220px;
        height: 35px;
        border-radius: 50px;
        border: 1px solid $black;
        padding-left: 10px;
        outline: none;
      }
    }

    .cart {
      margin: auto 0;
    }

  }

  .links {
    margin: auto;

    img {
      width: 60px;
      height: 60px;
      cursor: pointer;
      outline: none;

    }

    ul {
      padding: 0;
      display: flex;
      margin: auto 0;

      li {
        list-style: none;
        margin: 10px;
        padding: 5px 10px;
        cursor: pointer;
        background-color: $black;
        color: $white;
        border-radius: 50px;
        outline: none;
      }
    }
  }
}

