<header>
    <div class="container h-100">
        <div class="row no-gutters h-100">
            <div class="links col-6">
                <div class="row no-gutters justify-content-between h-100">
                    <div class="col-2">
                        <img (mouseover)="textImage($event)" routerLink="../home" src="./assets/images/logo.png"
                             alt="zen store">
                    </div>


                    <ul class="col">
                        <li (mouseover)="textElements($event)" *ngFor="let link of links"
                            [routerLink]="link.route ? link.route : null">{{link.name}}</li>
                    </ul>
                </div>
            </div>

            <div class="utility col-6">
                <div class="row no-gutters justify-content-end h-100">
                    <div class="search">
                        <img src="./assets/images/loupe.svg" class="imgsrc" alt="bag">
                        <input (mouseover)="textInput($event)" type="text" placeholder="Search">
                    </div>

                    <div class="cart">
                        <img routerLink="./cart" src="./assets/images/bag.svg" alt="bag">
                        <span (mouseover)="textElements($event)">Cart</span>(2)
                    </div>
                    <div *ngIf="!(authService.IsAuthenticated() | async)">

                        <a (mouseover)="textElements($event)" class="sign" routerLink="../auth/login">Sign In</a>
                        <a (mouseover)="textElements($event)" class="sign" routerLink="../auth/register">Sign Up</a>

                    </div>
                    <div *ngIf="(authService.IsAuthenticated() | async)" class="lgO">
                        <p (mouseover)="textElements($event)" *ngIf="(authService.getLocalUserData | async) as userData">{{userData.email}}</p>
                        <button (mouseover)="textElements($event)" (click)="onLogOut()">Log Out</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</header>
