<header>
  <div class="container h-100">
    <div class="row no-gutters h-100">
      <div class="links col-6">
        <div class="row no-gutters justify-content-between h-100">
          <div class="col-2">
            <img routerLink="../home" src="./assets/images/logo.png" alt="logo">
          </div>


          <ul class="col">
            <li *ngFor="let link of links" [routerLink]="link.route ? link.route : null">{{link.name}}</li>
          </ul>
        </div>
      </div>

      <div class="utility col-6">
        <div class="row no-gutters justify-content-end h-100">
          <div class="search">
            <img src="./assets/images/loupe.svg" alt="bag">
            <input type="text" placeholder="Search">
          </div>

          <div class="cart">
            <img routerLink="./cart" src="./assets/images/bag.svg" alt="bag">
            <span>Cart (2)</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
