<div class="form">
    <form class="w-50" [formGroup]="registerFormGroup" (ngSubmit)="onRegister()">
        <div class="form-group">
            <h1 class="par">CREATE ACCOUNT</h1>
            <label for="exampleInputEmail1" class="label">Email address</label>
            <input type="email" class="form-control"
                   [class.is-invalid]="email.invalid && email.touched"
                   placeholder="Enter an email address" id="exampleInputEmail1" formControlName="email"
                   aria-describedby="emailHelp">
                  
            <div *ngIf="(email.invalid && email.touched) || email.dirty">
                <small *ngIf="email.errors?.required"
                       class="text-danger">Email is required</small>
                <small *ngIf="email.errors?.email"
                       class="text-danger">Please provide a valid email</small>

            </div>
        </div>


        <div class="form-group">
            <label for="exampleInputPassword1" class="label">Password</label>
            <input type="password" class="form-control"
                   [class.is-invalid]="password.invalid && password.touched"
                   placeholder="Enter a password" formControlName="password" id="exampleInputPassword1">

            <div *ngIf="(password.invalid && password.touched) || password.dirty">
                <small *ngIf="password.errors?.required"
                       class="text-danger">Password is required</small>
                <small *ngIf="password.errors?.minlength"
                       class="text-danger">Password should have min 8 characters</small>

            </div>
        </div>
        <button type="submit" class="btn btn-primary">Register</button>
    </form>
</div>
