<div class="gray-rectangle">
    <div class="form">
        <form class="w-50 form-group" [formGroup]="registerFormGroup" (ngSubmit)="onRegister()">
                <h1 class="par">CREATE ACCOUNT</h1>
                <div>
                    <label for="exampleInputEmail1" class="label"></label>
                    <input type="email" class="form-control input-color width-box"
                        [class.is-invalid]="email.invalid && email.touched"
                        placeholder="Enter an email address" id="exampleInputEmail1" formControlName="email"
                        aria-describedby="emailHelp">
                        
                    <div *ngIf="(email.invalid && email.touched) || email.dirty">
                        <small *ngIf="email.errors?.required"
                            class="text-danger">Email is required</small>
                        <small *ngIf="email.errors?.email"
                            class="text-danger">Please provide a valid email</small>

                    </div>

                    <label for="exampleInputPassword1" class="label"></label>
                    <input type="password" class="form-control input-color width-box"
                        [class.is-invalid]="password.invalid && password.touched"
                        placeholder="Enter a password" formControlName="password" id="exampleInputPassword1">

                    <div *ngIf="(password.invalid && password.touched) || password.dirty">
                        <small *ngIf="password.errors?.required"
                            class="text-danger">Password is required</small>
                        <small *ngIf="password.errors?.minlength"
                            class="text-danger">Password should have min 8 characters</small>

                    </div>
                </div>
                <button type="submit" class="btn btn-primary width-box">Register</button>

                <div class="outside-link">
                    <p>Return to Store</p>
                </div>
             </form>
         </div>
</div>