<div class="form">
    <form [formGroup]="form" class="example-form" (ngSubmit)="onAuth(form.value.email ,form.value.password)">
      <div class="row no-gutters justify-content-center">
        <h2>Welcome <span>Back!</span></h2>
        <p>To invoicing system</p>
        <mat-form-field class="example-full-width">
          <i class="fas fa-user icon"></i>
          <input matInput type="text" placeholder="Email" formControlName="email"/>
          <mat-error>
            <span *ngIf="form.controls.email.errors?.required">Is required</span>
            <span *ngIf="form.controls.email.errors?.email">Email is not valid</span>
          </mat-error>
        </mat-form-field>
        <span style="color: red" *ngIf="emailError">Email is incorrect</span>
  
      </div>
  
      <div class="row no no-gutters justify-content-center">
        <mat-form-field class="example-full-width">
          <i class="fas fa-lock icon"></i>
          <input matInput type="password" placeholder="Password" formControlName="password"/>
          <mat-error>
            <span *ngIf="form.controls.password.errors?.required">Is required</span>
          </mat-error>
        </mat-form-field>
        <span style="color: red" *ngIf="passwordError">Password is incorrect</span>
      </div>
      <div class="row justify-content-center no-gutters">
        <button class="button">Login</button>
      </div>
    </form>
  </div>