.section {
  background-color: #ffffff;
  border-radius: 10px;
  max-width: 1250px;
  margin: 0 auto;
}

.btn {
  border-radius: 30px;
  font-family: "Gilroy-Bold", sans-serif;
  font-size: 37px;
  background-color: #ef8c18;
  border: none;
  outline: none;
}
