.container {
  max-width: 1250px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  padding: 0 50px;
  font-weight: bold;
  font-size: 20px;

  .category-content {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    a {
      background-color: #f8d666;
      text-align: center;
      padding: 5px 20px;
      border-radius: 30px;
      margin: 5px;

      &:hover {
        transform: scale(1.03);
        transition-duration: 0.3s;
        cursor: pointer;
      }
    }
  }
}
