<div class="home">
  <app-learn-more></app-learn-more>
  <div class="container">
    <p>Zen Store - Simply Different<br>Browse with confidence</p>
    
    <img src="../../../../assets/images/pht1.png"> 
    
  </div>

  <div class="container-transp">
    
    <img src="../../../../assets/images/pht2.png"> 

  <div class="row align" >
    <ul class="custom-ul">
      <li>User friendly website</li>
      <li>Helping screen reader</li>
  
      <li>Braile Products</li>
      <li>Easy navigation with shortcuts</li>

    </ul>
    
  </div>
  </div>

  <div class="container">
    
    <img src="../../../../assets/images/pht3.jpg"> 
    
    <p>Tips and Tricks to use:
      <br>
      <br> Ctrl+h - Go to Home
      <br> Ctrl+c - Go to Categories
      <br> Ctrl+l - Login
      <br> Ctrl+r - Register
      <br> Ctrl+? - List of shortcuts

    </p>

  </div>
  
  <div id="footer"class="footer-basic">
    <footer>
      <div class="social">
          <a href="https://www.instagram.com/faf.ngo/">
              <img src="../../../../assets/images/instagram.png" width="40px" height="40px">
          </a>
          
          <a href="https://www.facebook.com/groups/utm.faf">
            <img src="../../../../assets/images/facebook.png" width="40px" height="40px">
          </a> 
      </div>

      <ul class="list-inline">
          <li class="list-inline-item">
              <a href="./">Home</a>
          </li>

          <li class="list-inline-item">
            <a href="./category">Categories</a>
        </li>

        <li class="list-inline-item">
          <a href="./auth/login">Login</a>
        </li>

      </ul>
      <p class="copyright">Zen Store - 2020</p>
    </footer>


  </div>

  <router-outlet></router-outlet>
</div>
